@using TesteDesenvolvedor.Models
@model Disciplina
@{
    ViewBag.Title = "Editar Disciplina";
}

@using (Html.BeginForm("EditarDisciplina", "Home", FormMethod.Post, new { @class = "form-group" }))
{
    <div class="container-fluid">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(Model => Model.IdDisciplina)
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        <fieldset>
            <legend>Editar Disciplina</legend>
            @Html.Label("Nome da Disciplina")
            @Html.TextBoxFor(Model => Model.NomeDisciplina, new { @class = "form-control" })
            @Html.Label("Nome do Aluno")
            @Html.DropDownList("IdAluno", null, "-- Selecione --", htmlAttributes: new { @class = "form-control" })
        </fieldset>
        <input type="submit" value="Editar" class="btn btn-success" />
    </div>
}
