@using TesteDesenvolvedor.Models
@model List<Disciplina>
@{
    ViewBag.Title = "Gerenciar Disciplinas";
}


<div class="container-fluid" style="width: 40%;">
    <h2>Gerenciar Disciplinas</h2>
    <table class="table table-hover">
        <tr class="table-secondary">
            <th scope="col">Id</th>
            <th scope="col">Disciplina</th>
            <th scope="col">Nome do Aluno</th>
            <th scope="col">Editar</th>
            <th scope="col">Excluir</th>
        </tr>
        @foreach (Disciplina disciplina in Model)
        {
        <tr class="table-primary">
            <td>@disciplina.IdDisciplina</td>
            <td>@disciplina.NomeDisciplina</td>
            <td>@disciplina.Aluno.Nome_Aluno</td>
            <td>@Html.ActionLink("Editar Disciplina", "EditarDisciplina", "Home", new { idAluno = disciplina.IdDisciplina }, new { @class = "btn btn-warning" })</td>
            <td>@Html.ActionLink("Excluir Disciplina", "ExcluirDisciplina", "Home", new { IdAluno = disciplina.IdDisciplina }, new { @class = "btn btn-danger" })</td>
        </tr>

        }
    </table>
    @Html.ActionLink("Cadastrar", "CadastrarDisciplina", "Home", null, new { @class = "btn btn-success" })
</div>
